.card{
    margin: 30px 0;
    padding: 15px 20px;
}
.link{
  color: #3a6dc5;
}
.linkup{
  padding: 20px 0;
}
.image {
    width: 100%;
    height: 400px;
    min-width: 100%;
    min-height: 400px;
    background-color: #cccccc;
    margin: 0px 10px;
    border-radius: 20px;
    overflow: hidden;
  }
  .downicons{
    display: flex;
    padding: 50px 0;
    width: 500px;
  }
  
  .iconWrapper{
width: 80px;
display: flex;

  }
  .iconCount{
    margin-top: 8px;
    font-size: 12px;
    color: #757575;
  }
  .actionsItem{
    margin-top: -20px;
    margin-left: 40px;
  }
  .messageAction{
    display: flex;
  }
  